@model IEnumerable<WFM2.Models.WFM.Split>

@{
    ViewData["Title"] = "Splits";
}

<h2>Splits</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="myTable2" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Acd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Split1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CTF)
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Acd)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.SplitId">@Html.DisplayFor(modelItem => item.Split1)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lob.Lob1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.Vendor1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SplitId">
                    <img src="~/images/iconEdit.png" alt="Edit" />
                </a> |
                @*<a asp-action="Details" asp-route-id="@item.SplitId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.SplitId">
                    <img src="~/images/iconDelete.png" alt="Delete" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
